{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Your cart</span>
          <span class="badge badge-secondary badge-pill">1</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">Ezz Fitness Premium</h6>
              <small class="text-muted">{{plan.title}}</small>
            </div>
            <span class="text-muted">${{og_dollar}}</span>
          </li>
          {% if coupon != 'none' %}
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>{{coupon|upper}}</small>
            </div>
            <span class="text-success">{{coupon_dollar}}%</span>
          </li>
          {% endif %}
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>${{final_dollar}}</strong>
          </li>
        </ul>

        <form class="card p-2" action="{% url 'checkout' %}" method="GET">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" name="coupon">
            <input type="hidden" value="{{plan}}" name="plan" />
            <div class="input-group-append">
              <button type="submit" class="btn btn-secondary rounded">Redeem</button>
            </div>
          </div>
        </form>

        <div class="text-center pt-3">
        <form action="{% url 'checkout' %}" method="POST">
          {% csrf_token %}
          {% load mathfilters %}
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51NfoavAOoyyhXMiqqLKsGXnW160TeNAGvISKC2n8p3Zgt8GBJ0sq9dZ7gVbeiA8l2Kyx7EgfTA966rFif6Zq1vvW00ICQ0twAO"
            data-amount="{{final_dollar|mul:100}}"
            data-name="Ezz Fitness Premium, LLC"
            data-description="Premium Membership"
            data-email="{{user.email}}"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
        </script>
        <input type="hidden" value="{{plan}}" name="plan" />
        <input type="hidden" value="{{coupon}}" name="coupon" />
      </form>
      <br>
      <a href="{% url 'home' %}" class="btn btn-secondary rounded">Take me back</a>
        </div>
        </div>
    </div>
    </div>
{% endblock %}
